.right-panel{
    margin-top: -5px;
}

.button{
    margin: 5px;
}

.logo:hover{
    transform: rotate(180deg) scale(1.33);
}
.logo{
    -webkit-transition: transform 0.2s; 
    transition: transform 0.2s;
}

.roomInput, .roomInput>input{
    width: 280px;
}

.toolbar {
    display: flex;    
}

.toolbar>*{
    margin-top: 5px;
    margin-down: 5px;
}